

*{
    font-family: Poppins;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}
#event-subscription{
    background: linear-gradient(rgb(0, 0, 0,.5),rgb(52, 52, 209.5)), url("../img/banner.jpg");
    background-position: center;
    background-size: cover; 
    height: 58vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--text-color);
}
h2{
    text-transform: uppercase;
    margin: 0.3em;
}
.disclamer h2{
    color: rgb(28, 178, 248);
}
.about-you{
    font-size: 1.2em;
    max-width: 350px;
    font-weight: bold;
    color: aqua;
}

#subscription-form {
    background-color: rgb(20, 37, 53);
    padding: 2em;
    max-width: 22%;
}

#subscription-form p{
        font-size: 1.5em;
        color: aqua;
        margin-bottom: 1em;
}
.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.8;

} 
.form-group label{
    margin-bottom: 0.3em;
    color: aquamarine;
    font-weight: bold;
}

.form-group input, .form-group se   ect, .form-group textarea{
    padding: 6px 8px;
    border-radius: 8px;
    border: none;
    outline: none;
}

.btn {
    background: rgb(144, 171, 206);
    color: rgb(16, 36, 216);
    text-transform: uppercase;
    width: 100%;
    padding: 8px 12px;
    opacity: 0.7;
    cursor: pointer;
    margin-top: 1em;
}

.btn:hover{
    opacity: 1;
}
#key-technologys h2{
    background-color: #75a5c5;
    color: aqua;
    text-align: center;
    padding: 2em;
    font-weight: bold;
}

.technologys{
    display: flex;
    justify-content: space-around;
    padding: 2em;
    margin: 0 auto;
}

.tecnology{
    font-size: 0.5em;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 15%;
    color: rgb(42, 145, 230);
}

#technology-1{
    background-image: url(../img/logos/github.png);
}
#technology-2{
    background-image: url(../img/logos/figma.png);
}
#technology-3{
    background-image: url(../img/logos/html.webp);
}
#technology-4{
    background-image: url(../img/logos/css.webp);
}
#technology-5{
    background-image: url(../img/logos/js.png);
}

.tecnology .technology-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-bottom: 1em;
}

#about{ 
    height: 400px;
    background-color: #617dda;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: aqua;
    margin: 3em;
}

#about-id, #about-description {
    max-width: 40%;
}

#about-id {
    display: flex;
    vertical-align: middle;
    align-items: center;
}

#about-id i {
    color: rgb(92, 139, 124);
    font-size: 6em;
    margin-right: 0.5em;
}

#about-description h3 {
    color: aqua;
    font-size: 1.5em;
    margin-bottom: 1em;
    text-transform: uppercase;
}

#about-description p {
  text-align: justify;
  font-size: 0.8em;
  line-height: 1.5em;
}